body {
	background-color : #C73C3C;
	font-family : "Book Antiqua", Palatino, serif;
}
.box {
	background-color : #f5f5f5;
	width: 746px;
	height: auto;
	border: 4px solid #ababab;
	margin : 10px auto;
	text-align: center;
}
h1{
	text-align: center;
	font-size: 45px;
}
h1.title{
	margin-top: 45px;
}
h1.quote {
	padding-top: 10px;
	font-size: 2.813em;
}
.box button{
	position: relative;
    left: 312px;
	bottom:2px;
	border: 3px solid #ababab;
}
.tweet{
	position: relative;
	right: 312px;
	top:5px;
}
.author{
	font-style : italic;
}
@media screen and (max-width: 772px){
	.box { 
	width: auto;
	}
	.box button{
		left: 0px;
	}
	.tweet{
		right: 0px;
	}
}